.link {
  width: 85%;
  padding: 1rem;
  color: var(--color-white);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.link:hover {
  color: var(--color-success);
}

.link--active {
  width: 85%;
  padding: 1rem;
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border-right: 5px solid var(--color-success);
  color: var(--color-white);
}

@media (max-width: 1024px) {
  .link {
    width: 35%;
  }
  .link--active {
    width: 35%;
    border-right: none;
    border-bottom: 5px solid var(--color-success);
  }
}
