.app {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .app {
    flex-direction: row;
  }

  .content {
    width: 70%;
  }
}

@media (min-width: 1440px) {
  .app {
    flex-direction: row;
  }

  .content {
    width: 90%;
  }
}

@media (min-width: 1920px) {
  .app {
    flex-direction: row;
  }

  .content {
    width: 95%;
  }
}
