:root {
  /* colors */
  --color-primary: #6c757d;
  --color-secondary: #343a40;
  --color-white: #ededf4;
  --color-darkWhite: "";
  --color-dark: #212529;
  --color-light: var(--color-white);
  --color-success: #52b69a;
  --color-warning: #e09f3e;
  --color-error: #9e2a2b;

  /* additional colors */
  --color-blue: #6279b8;
  --color-darkBlue: #394c7f;
  --color-pink: #810e47;

  /* measurements */
  --header-height: 6rem;
}
