:root {
  /* colors */
  --color-primary: #219ebc;
  --color-secondary: #023047;
  --color-white: #ededf4;
  --color-dark: #010d14;
  --color-light: #abd8ed;
  --color-success: #1fd6a5;
  --color-warning: #ffb703;
  --color-error: #b80025;

  /* measurements */
  --header-mobile-height: 4rem;
}
